body{
    background-image: url(../imgs/luisa-ji-SpKT27bNSOQ-unsplash\ \(2\).jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


h1{
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    
}
p{
    font-size: 1.875rem;
    font-weight: 500;
    color: aliceblue;
}

@media screen and  (max-width:762px) {

    h1{
        font-size: 60px;
    }
}
